@use "../../../styles/abstracts/variables" as *;

.grid {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );

  gap: $space-lg;

  margin-bottom: $space-2xl;
}