@use "../../../styles/abstracts/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-lg;

  min-height: 180px;

  cursor: pointer;
}

.card h3 {
  margin-bottom: $space-sm;
}

.card p {
  color: $text-secondary;
}

.actions {
  display: flex;
  gap: $space-sm;
}

.actions button {
  flex: 1;
}