@use "../../../styles/abstracts/variables" as *;

.logo {
  display: flex;
  align-items: center;
  gap: $space-sm;
  font-weight: 700;
  color: $text-primary;
}

.mark {
  width: 36px;
  height: 36px;
  border-radius: $radius-md;
  background: $primary;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
}

.text {
  font-size: 1.1rem;
}